<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Projeto de Pizzaria</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
        <li><a href="/users"><i class="material-icons left">account_circle</i>Usuários</a></li>
        <li><a href="/clientes"><i class="material-icons left">group</i>Clientes</a></li>
        <li><a href="/produtos"><i class="material-icons left">local_pizza</i>Produtos</a></li>
        <li><a href="/pedidos"><i class="material-icons left">local_pizza</i>Pedidos</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><div class="user-view">
          <div class="background">
            <img src="https://materializecss.com/images/office.jpg">
          </div>
          <a href="#user"><img class="circle" src="https://materializecss.com/images/yuna.jpg"></a>
          <a href="#name"><span class="white-text name">John Doe</span></a>
          <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div></li>
        <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
        <li><a href="/users"><i class="material-icons left">account_circle</i>Usuários</a></li>
        <li><a href="/clientes"><i class="material-icons left">group</i>Clientes</a></li>
        <li><a href="/produtos"><i class="material-icons left">local_pizza</i>Produtos</a></li>
        <li><a href="/pedidos"><i class="material-icons left">local_pizza</i>Pedidos</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>